.container {
  height: 100vh;
  margin: auto;
  max-width: 1250px;

  .cards {
    display: flex;
    flex: {
      grow: 1;
      wrap: wrap;
    }
    justify-content: space-around;
  }

  .challenge {
    h1 {
      font: {
        weight: 700;
        size: 48px;
      }
      line-height: 72px;
    }

    p {
      font: {
        weight: 500;
        size: 16px;
      }
      line-height: 30px;

      a {
        color: #DEBF79;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    ul {
      list-style: square inside;

      li {
        line-height: 25px;
      }
    }
  }
}
