.formInputContainer {
  position: relative;

  label, span {
    color: #858585;
    font-size: 14px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 18px) scale(1);
    transition: all .1s ease-in-out;
    padding: 0 20px;
  }
  span {
    color: #800000;
    display: none;
    right: 0;
  }

  input, textarea {
    background-color: #F5F5F5;
    color: #222222;
    width: 100%;
    min-height: 50px;
    border: none;
    padding: 10px 20px 5px;
    font-size: 14px;
  }

  textarea {
    resize: none;
    padding-top: 20px;
    font: {
      family: 'Poppins', sans-serif;
      style: normal;
      weight: 500;
      size: 14px;
    }
  }

  &.active {
    label {
      transform: translate(0, 4px) scale(.75);
    }
  }

  &.invalid {
    span {
      display: block;
    }
    input, textarea {
      border: {
        style: solid;
        width: 2px;
        color: #800000;
      }
    }
  }
}
