.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 50px 0;

  @media only screen and (max-width: 1250px) {
    padding: 30px 20px;
  }

  img {
    max-height: 350px;
  }

  a {
    font: {
      weight: 700;
      size: 18px
    }
    line-height: 27px;
    color: #DEBF79;
    text-transform: lowercase;
  }
}
